body        {
    margin-left:10%;
    font-family: sans-serif;

            }

label       {
    display:block;
    font-weight: bold;
}
.error    {
    color: red;
    font-weight: bold;
}
#comments   {
    width:30%;
}
#email, #name
{
    width:20%;
}
.hlegend    {
    display:inline;
    font-weight:normal;
}
fieldset    {
    font-weight: bold;
}


#name, #email,
#password   {
            width:100%;
}

.lbl        {
            font-weight: bold;
}